<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="accessControlApp" ng-controller="MainCtrl" ng-cloak> 
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="../">Access QR Code</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ng-class="{'active':activeMenu === '/main'}"><a href="../">Registration</a></li>
              <li ng-class="{'active':activeMenu === '/control'}"><a ng-href="#/">Access Control</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="well bs-component">
	<div class="row" ng-show="confirmation"> 
		<div class="alert alert-dismissable alert-success"> 
			<button type="button" class="close" data-dismiss="alert">×</button> 
			<p>QR Code data found!</p> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-sm-6 col-md-6">
				<div class="col-md-12 col-sm-12">
					<form class="form-horizontal" name="loginForm">
		  			<fieldset>
					  	<div class="form-group">
					     	<div class="col-sm-10">
					     		<h3>Access Control</h3>
					     	</div>
					    </div>
					    <div class="form-group" ng-class="{'has-error':(loginForm.user.$invalid && loginForm.user.$dirty && submitted)}">
					      <!--<ng-md-icon icon="person" style="fill: lightgreen" size="32">-->
					      <label for="user" class="col-sm-2">User Id</label>
					      <div class="col-sm-10">
					        <input type="text" class="form-control" id="userId" name="userId" placeholder="User ID" ng-model="query.objectId" minlength="2" disabled>
					      </div>
					    </div>
					    <div class="form-group" ng-class="{'has-error':(loginForm.user.$invalid && loginForm.user.$dirty && submitted)}">
					      <!--<ng-md-icon icon="person" style="fill: lightgreen" size="32">-->
					      <label for="user" class="col-sm-2">User</label>
					      <div class="col-sm-10">
					        <input type="text" class="form-control" id="user" name="user" placeholder="User" ng-model="query.name"  minlength="2" disabled>
					      </div>
					    </div>
					    <div class="form-group">
					      <label for="password" class="col-sm-2">Course</label>
					      <div class="col-sm-10">
					        <input type="text" class="form-control" id="course" name="couse" placeholder="Course" ng-model="query.course" disabled>
					      </div>
					    </div>
					    <div class="form-group">
					      <div class="col-sm-12">
					        <img ng-if="query.image" ng-src="{{query.image}}" alt="webcam picture">
					      </div>
					    </div>
					    <div class="form-group">
					      <div class=" col-sm-10">
					        <button type="submit" class="btn btn-primary btn-raised" ng-click="checkIn()" ng-disabled = "!query.objectId || !query.name || !query.course || !query.image || !vm.picture">Check In</button>
					      </div>
					    </div>
		  			</fieldset>
				</form>
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="row" ng-hide="query.objectId">
					<div class="col-sm-12 text-center">
						<h3>QR Code Scanner</h3>
						<qr-scanner width="400" height="300" ng-success="onSuccess(data)" ng-error="onError(error)" />
					</div>
				</div>
				<div class="row" ng-show="query.objectId">
					<div class="col-sm-offset-3 col-sm-6">
						<div class="col-sm-12"><h3>Profile Picture</h3></div>
					</div>
					<div class="col-sm-offset-3 col-sm-6" ng-hide="vm.picture">
							<ng-camera
									    capture-message="GO!"
									    output-height="160"
									    output-width="213"
									    viewer-height="160"
									    viewer-width="213"
									    image-format="jpeg"
									    jpeg-quality="100"
									    action-message="Take picture"
									    snapshot="vm.picture"
									    flash-fallback-url="/vendors/webcamjs/webcam.swf"
									></ng-camera>
					</div>
					<div class="col-sm-offset-3 col-sm-6">
						<img ng-if="vm.picture" ng-src="{{vm.picture}}" alt="webcam picture">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="checkedIn.length > 0">
		<div class="col-sm-12">
			<h3>Guest</h3>
		</div>
	</div>
	<div class="row" ng-if="checkedIn.length > 0">
		 <div class="table-responsive">
		 	<table class="table">
			    <thead>
			      <tr>
			        <th>Name</th>
			        <th>Course</th>
			        <th>Check In</th>
			        <th>Check Out</th>
			        <th>Profile Picture</th>
			        <th>Id Picture</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat = "item in checkedIn">
			        <td>
			        	<span ng-if="item.name">{{ item.name }}</span>
			        </td>
			        <td>
			        	<span ng-if="item.course">{{ item.course }}</span>
			        </td>
			        <td>
			        	<span ng-if="item.checkInTimeView">{{ item.checkInTimeView }}</span>
			        </td>
			        <td>
			        	<button type="button" clas="btn btn-primary" ng-click="checkOut(item)" ng-hide="item.checkOutTime">
			        		Check out
			        	</button>
			        	<span ng-show="item.checkOutTime"> {{item.checkOutTimeView}} </span>
			        </td>
			        <td>
			        	<span ng-hide="item.showPicture"> 
			        	 	<a href="javascript:void(0)" ng-click="item.showPicture = true">show picture</a>
			        	</span>
 						<span ng-show="item.showPicture"> <img ng-if="item.picture" ng-src="{{item.picture}}" alt="webcam picture"> </span> 
			        </td>
			        <td>
			        	<span ng-hide="item.showID">
			        		<a href="javascript:void(0)" ng-click="item.showID = true">show ID</a> 
			        	</span>
			        	<span ng-show="item.showID">
 							<img ng-if="item.image" ng-src="{{item.image}}" alt="webcam picture"> 
 						</span>
 					</td>
			      </tr>
			    </tbody>
		  </table>
		 </div>
	</div>
</div>

    </div>

    <div class="footer">
      <div class="container">
        <p><i class="android"></i>Prototype created by Jorge Bayona</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/webcamjs/webcam.js"></script>
    <script src="../bower_components/ng-camera/dist/ng-camera.js"></script>
    <script src="../bower_components/qrcode-generator/js/qrcode.js"></script>
    <script src="../bower_components/angular-qrcode/angular-qrcode.js"></script>
    <script src="../bower_components/angular-qr-scanner/qr-scanner.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="../scripts/app.js"></script>
    <script src="../scripts/controllers/main.js"></script>
    <script src="../scripts/controllers/about.js"></script>
    <script src="../scripts/services/proxy.js"></script>
    <script src="../scripts/services/qrcode.js"></script>


    <script src="../scripts/qrcode/jsqrcode-combined.min.js"></script>
    <script src="../scripts/controllers/control.js"></script>
    <!-- endbuild -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script> <!--This is add manually -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>  <!--This is add manually -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 


</body>
</html>